html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font: 1.6rem Helvetica;
    height: 100vh;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "header" 
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%
}

.header {
    grid-area: header;
    background-color: #f5985a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.brand a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
}

.header-links a {
    color: rgb(180, 71, 8);
    text-decoration: none;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
    background-color: #f5985a;
    color: white;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(180, 71, 8);
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.products li {
    list-style-type: none;
    flex: 0 1 34 rem;
    margin: 1rem;
    height: 50rem;
    border-bottom: 1rem #c0c0c0 solid;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}


.product-Image {
    max-width: 34rem;
    max-height: 34rem;
}

.product-Name {
    font-size: 2rem;
}

.product-Brand {
    font-size: 1.2rem;
    color: #808080;
}

.product-Price {
    font-size: 2.5rem;
    font-weight: bold;
}

/* sidebar */

.brand button {
    font-size: 3rem;
    padding: .5rem;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    /* font-weight: bold; */
}

.sidebar {
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: rgba(255, 127, 80, 0.75);
    height: 100%;
    color: #ffffff;
}

.sidebar.open{
    transform: translateX(0);
}

.sidebar ul li {
    list-style-type: none;
}

.sidebar ul li a {
    cursor: pointer;
    /* color: #ffffff; */
}

.sidebar-close-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    padding-top: 0;
    color: #ffffff;
}