html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "header" 
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%
}

.header {
  grid-area: header;
  background-color: #f5985a;
  color: white;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0.5rem;
}

.brand a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 3rem;
}

.header-links a {
  color: rgb(180, 71, 8);
  text-decoration: none;
  padding: 1rem;
  padding-left: 0;
}

.header-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.header-links div:first-child{
  margin-bottom: .5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
}


.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1rem;
  margin-left: 0.2rem;
}

.cart-symbol {
  padding-left: 0;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 2rem;
  z-index: 1;
  background-color: #f5985a;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #f5985a;
  color: white;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(180, 71, 8);
}

/* home page */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  flex: 0 1 34 rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 1rem #c0c0c0 solid;
}

.products li:hover {
  margin-top: 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}


.product-Image {
  max-width: 34rem;
  max-height: 34rem;
}

.product-Name {
  font-size: 2rem;
}

.product-Brand {
  font-size: 1.2rem;
  color: #808080;
}

.product-Price {
  font-size: 2.5rem;
  font-weight: bold;
}

/* sidebar */

.brand button {
  font-size: 3rem;
  padding: .5rem;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all .5s;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: rgba(255, 127, 80, 0.75);
  height: 100%;
  color: #ffffff;
}

.sidebar.open{
  transform: translateX(0);
}

.sidebar ul li {
  list-style-type: none;
}

.sidebar ul li a {
  cursor: pointer;
  /* color: #ffffff; */
}

.sidebar-close-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
  padding-top: 0;
  color: #ffffff;
}

/* Product screen*/

.details {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img{
  max-width: 60rem;
  width: 100%;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
}

.back-to-result {
  padding: 1rem;
}

.details-action {
  padding: 1rem;
  border: .2rem rgba(230, 148, 118, 0.925) solid;
  border-radius: 0.5rem;
  background-color: rgba(206, 143, 120, 0.411);
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.cart-button {
  background-color: rgb(255, 213, 74);
  padding: 1rem;
  border: .3rem rgba(94, 77, 71, 0.623) solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cart-button:hover {
  border: .3rem rgba(94, 77, 71, 0.932) solid
}

/* Cart Screen */

.cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-actions {
  flex: 1 1 20 rem;
  background-color: rgba(206, 143, 120, 0.411);
  border: .1rem rgb(156, 150, 148) solid;
  border-radius: 0.5rem;
  padding: 1rem;
}

.button {
  background-color: rgb(255, 213, 74);
  padding: 1rem;
  border: .3rem rgba(94, 77, 71, 0.623) solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cart-list-container {
  padding: 1rem;
  list-style-type: none;

}


.cart-List-Item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem rgba(78, 66, 50, 0.76) solid;
}

.cart-List-Item img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-List-Item button {
  background-color: rgba(255, 213, 74, 0);
  padding: 0;
  margin: 1rem;
  border: .3rem rgba(94, 77, 71, 0.623) solid;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

/* Sign In Page*/

.form {
  display: flex;
  justify-content:center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: .1rem rgb(156, 150, 148) solid;
  border-radius: 0.5rem;
  list-style-type: none;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  padding: 1rem;
  border: .1rem rgba(228, 149, 59, 0.877) solid;
  border-radius: .1rem;
}

/* products */

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-margined {
  margin: 1rem;

}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: rgba(230, 139, 54, 0.459);
}

/* Checkout-steps*/

.checkout-steps {
  display: flex;
  justify-content: space-between;
  width: 50rem;
  margin: 1rem auto;
}

.checkout-steps > div {
  border-top: .3rem rgba(128, 128, 128, 0.733) solid;
  color: rgba(128, 128, 128, 0.733);
  flex: 1 1;
  padding-top: 1rem;

}

.checkout-steps > div.active {
  border-top: .3rem rgba(231, 124, 53, 0.733) solid;
  color: rgba(231, 124, 53, 0.733);
}

/*place order*/

.placeOrder {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}

.placeOrder-info {
  flex: 3 1 60rem;
}

.placeOrder-actions {
  flex: 1 1 20rem;
  border: .1rem rgba(223, 160, 108, 0.521) solid;
  border-radius: .5rem;
  background-color: rgb(240, 224, 196);
  padding: 1rem;
}

.placeOrder-actions > ul {
  padding: 0;
  list-style-type: none;
}

.placeOrder-actions > ul > li {
  display: flex;
  justify-content: space-between;
  
}

.placeOrder-actions > ul > li:last-child {
  font-size: 2rem;
  color: red;

}

.placeOrder-info > div {
  flex: 1 1 20rem;
  border: .1rem rgba(207, 172, 111, 0.89) solid;
  border-radius: .5rem;
  background-color: rgb(240, 224, 196);
  padding: 1rem;
  margin: 1rem;
}

.paypalButton {
  width: 100%;
}